provider "aws" { 
  region = "ap-south-1" 
  profile = "TEST_USER" 
} 

resource "aws_vpc" "testvpc" {
  cidr_block       = "192.168.0.0/16"
  instance_tenancy = "default"
  enable_dns_hostnames = "true"  

  tags = {
    Name = "testvpc"
  }
}

resource "aws_subnet" "pubsubnet" {
  vpc_id     = "${aws_vpc.testvpc.id}"
  cidr_block = "192.168.1.0/24"
  map_public_ip_on_launch = "true"
  availability_zone = "ap-south-1a"

  tags = {
    Name = "pubsubnet"
  }
}

resource "aws_subnet" "privsubnet" {
  vpc_id     = "${aws_vpc.testvpc.id}"
  cidr_block = "192.168.2.0/24"
  availability_zone = "ap-south-1b"

  tags = {
    Name = "privsubnet"
  }
}

resource "aws_internet_gateway" "testgw" {
  vpc_id = "${aws_vpc.testvpc.id}"

  tags = {
    Name = "testgw"
  }
}

resource "aws_route_table" "testroute" {
  vpc_id = "${aws_vpc.testvpc.id}"

  route {
    cidr_block = "0.0.0.0/0"
    gateway_id = "${aws_internet_gateway.testgw.id}"
  }

  tags = {
    Name = "testroute"
  }
}

resource "aws_route_table_association" "testa" {
  subnet_id      = aws_subnet.pubsubnet.id
  route_table_id = aws_route_table.testroute.id
}

resource "aws_eip" "testeip" {
  vpc = true
}

resource "aws_nat_gateway" "test-nat" {
  allocation_id = "${aws_eip.testeip.id}"
  subnet_id     = "${aws_subnet.pubsubnet.id}"
  depends_on    = [aws_internet_gateway.testgw]

  tags = {
    Name = "test NAT"
  }
}
